/*====== body =============================================*/
html, body {
   margin: 0 !important;
   padding: 0 !important;
   background-color: rgb(231, 231, 231);
   }
/*====== Blog ================================================*/
.blog {
display: flex;
flex-direction: column;
flex:1;
height: 100vh;  
}


/*====== header =============================================*/
.header {
display: flex;
background-color: rgb(255, 255, 255);
flex-direction: row;
flex-basis: 80px;
min-height: 80px;
}

.header-actions {
display: flex;
background-color: rgb(255, 255, 255);
flex-basis: 50%;
justify-content:flex-end;
}

.header-actions-item {
display: flex;
padding: 0 16px;
background-color: rgb(255, 255, 255);
align-items: center;
}

/*====== logo ==========================================*/
.header-logo {
display: flex;
flex-basis: 50%;
}

/*====== banner =======================================*/
.banner {
display: flex;
flex-basis: 250px;
justify-content: center;
}

.banner-image {
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   width: 50vh;
   height: 70vh;
   padding: 16px;
   
}

.banner-text h2 {
   font-family: 'Playfair Display', serif;
   flex-direction: column;
   text-align: center;
   
}

.banner-title {
   font-family: 'Playfair Display', serif;
   flex-direction: column;
   text-align: center;
}

.banner-p {
   font-family: 'Poppins', sans-serif;
   flex-direction: column;
   text-align: center;
}

/*====== content ===================================*/
.content {
display: flex;
flex-direction: column;
flex: 1;
}

.content-row {
display: flex;
flex-direction: row;
flex-basis: 300px;
justify-content: center;
}

/*====== artigos =======================================*/
.content-item img {
width: 50vh;
height: 30vh;
object-fit: cover;
justify-content: center;
margin: 25px;
}

/*titulo dos artigos*/
.content-item-title {
   text-align: center;
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
}

/*====== footer =======================================*/
.footer {
display: flex;
background-color: black;
flex-basis: 120px;
min-height: 120px;
}