/*====== Blog ================================================*/
.blog {
display: flex;
flex-direction: column;
flex:1;
height: 100vh;  
}

/*====== header =============================================*/
.header {
display: flex;
background-color: red;
flex-direction: row;
flex-basis: 80px;
min-height: 80px;
}

.header-actions {
display: flex;
background-color: rgb(255, 255, 255);
flex-basis: 50%;
justify-content:flex-end;
}

.header-actions-item {
display: flex;
padding: 0 16px;
background: rgb(255, 255, 255);
align-items: center;
}

/*====== logo ==========================================*/
.header-logo {
display: flex;
background-color: rgb(255, 255, 255);
flex-basis: 50%;
}

/*====== banner =======================================*/
.banner {
display: flex;
background-color: rgb(231, 231, 231);
flex-basis: 250px;
justify-content: center;
}

.banner-image {
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   width: 50vh;
   height: 70vh;
   
}

.banner-image {
   padding: 16px;
   }

/*====== título do banner ============================*/
.banner-text {
   font-family: 'Playfair Display', serif;
   flex-direction: column;
}
   
/*====== texto ======================================*/

/*====== content ===================================*/
.content {
display: flex;
background-color: rgb(255, 255, 255);
flex-direction: column;
flex: 1;
}

.content-row {
display: flex;
flex-direction: row;
background-color: rgb(231, 231, 231);
flex-basis: 300px;
justify-content: center;
}

/*====== artigos =======================================*/
.content-item img {
width: 50vh;
height: 30vh;
object-fit: cover;
justify-content: center;
margin: 25px;
}



/*====== footer =======================================*/
.footer {
display: flex;
background-color: black;
flex-basis: 120px;
min-height: 120px;
}